body{
  background: #ffffff;
}

.vignette{
  position: relative;
  width: relative;
  max-width: 90%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0px;
}

.vignette img{
  position: absolute;
  width: 100%;
}

.vignette .overlay{
  opacity: 0;
  transition: opacity 2s;
}

.vignette:hover .overlay{
  opacity: 1;
}